@theme {
    --spacing-desktop-screen: 1200px;
    --breakpoint-phone-screen: 450px;
    --color-green-accent: #008558;
    --color-gray-secondary: #000933a6;
    --color-gray-light: #0015800a;
    --radius-normal: 0.5rem;
    --text-pre-xl: 1.125rem;
    --spacing-dropdown-height: 228px;
    --text-large: 3.5rem;
    --text-big: 2.5rem;
    --spacing-hero-info-block-desk: 545px;
    --color-hero-accent: #ffebd6;
    --spacing-hero-img-phone-w: 216px;
    --spacing-hero-img-phone-h: 440px;
    --color-charcoal: #343741;
    --color-almost-black: #1a1c21;
}
