@import "tailwindcss";
@import "./_variables.css";
@plugin "./heroui.ts";
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.big-btn-spacing {
    @apply px-7 py-3.5;
}

.f-col {
    @apply flex flex-col;
}

.nav-link-base {
    @apply flex cursor-pointer font-semibold transition-colors text-gray-secondary w-fit;
}

.btn-primary {
    @apply bg-green-accent text-white font-bold rounded-normal hover:brightness-95
               transition-all active:scale-95;
}

.btn-outline {
    @apply border-1 border-green-accent text-green-accent font-bold rounded-normal mx-4;
}

.header-like {
    @apply max-w-desktop-screen px-0 max-md:px-4 py-5 max-md:py-3 h-auto;
}

.toggle-menu-visibility {
    @apply pr-3 py-3.5 pl-5 box-content;
}

body,
.globalPaddings {
    @apply px-0 phone-screen:px-8 md:px-12;
}

body {
    @apply max-w-desktop-screen mx-auto box-content;
}
